* {
    margin: 0;
    padding: 0;
}

body {
    background-color: cornflowerblue;
}

#wrapper {
    max-height: 100vh;
    overflow: hidden;
    display: flex;

}

button {
    
}

canvas {
    border-radius: 1ch;
    margin: auto;
}