* {
    margin: 0;
    padding: 0;
    font-family: Helvetica;
    font-weight: lighter;
}

body {
    background-color: cornflowerblue;
}

#wrapper {
    max-height: 100vh;
    overflow: hidden;
    display: flex;
    border-radius: 1ch;
}

#sidebar {
    background-color: #DDD;
    border-radius: 0 1ch 1ch 0;
    width: 240px;
    padding: 1ch;
    font-size: 1.5rem;
}

footer {
    
}

button {
    
}

canvas {
    
}